{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Hypervisors" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Hypervisors") %}
{% endblock page_header %}

{% block css %}
    {% include "_stylesheets.html" %}
    <link href="{{ STATIC_URL }}admin_nci/css/hvlist.css" rel="stylesheet">
{% endblock %}

{% block main %}
<script>
(function($) {
    $(function() {
        var pinned = {};
        $('dl.instance').hide();
        $('dd.instances li').hover(
            function(e) {
                $(this).find('dl.instance').delay(100).show(150);
                var sel = 'span.resused.' + $(this).find('span.uuid').text();
                $(this).parents('div.hypervisor').find(sel).addClass('highlighted');
            },
            function(e) {
                $(this).find('dl.instance').stop(true).hide(150);
                var sel = 'span.resused.' + $(this).find('span.uuid').text();
                $(this).parents('div.hypervisor').find(sel).removeClass('highlighted');
            }
        );
        $('.hypervisors > li').hover(
            function(e) {
                $(this).find('div').show();
            },
            function(e) {
                if(! ($(this).index() in pinned)) {
                    $(this).find('div.hypervisor').hide();
                }
            }
        );
        $('.hypervisors > li').mousemove(function(e) {
            if($(this).is('.hypervisors > li') && !($(this).index() in pinned)) {
                $(this).find('div').css('top', e.pageY+10).css('left', e.pageX+10);
            }
        });
        $('.hypervisors > li').click(function(e) {
            if($(e.target).is('.hypervisors > li') || $(e.target).parent('.hypervisors > li').length > 0) {
                var i = $(this).index();
                if(i in pinned) {
                    delete pinned[i];
                } else {
                    pinned[i] = true;
                }
            }
        });
        $('html').click(function(e) {
            if(! ($(e.target).is('ul.hypervisors') || $(e.target).parents('ul.hypervisors').length > 0)) {
                pinned = {};
                $('div.hypervisor').hide();
            }
        });
        $('#search input').on('search input', function(e) { // 'search' event is nonstandard, maybe use 'input'
            $('.hypervisors > li').removeClass('searched');
            if(this.value) {
                $('.hypervisors > li').filter(function(index) {
                    return $('.searchtext', this).text().toLowerCase().indexOf(e.target.value.toLowerCase()) != -1;
                }).addClass('searched');
            }
        });
    });
})(jQuery);
</script>
<dl id="summary">
<dt>Total hypervisors</dt>
<dd>{{ total_hypervisors }}</dd>
<dt>Used hypervisors</dt>
<dd>{{ used_count }}</dd>
<dt>Instances</dt>
<dd>{{ instance_count }}</dd>
</dl>
<p id="search">Find <input type="search"></p>
<p style="clear:left;height:2em"><!-- hello i am hacky --></p>
{% spaceless %}
{% for ha in host_aggregates %}
<h3>{{ ha.name }}</h3>
<table class="table table-bordered">
<thead>
  <tr class="table_caption">{# the css assumes that the header row comes after a tr.table_caption, so this has to be here to make the table render correctly #}</tr>
  <tr>
    <th></th>
    <th>VCPUs</th>
    <th>RAM</th>
    <th>Disk</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Overcommit ratio</td>
    <td>{{ ha.overcommit.cpu|floatformat:2 }}</td>
    <td>{{ ha.overcommit.ram|floatformat:2 }}</td>
    <td>{{ ha.overcommit.disk|floatformat:2 }}</td>
  </tr>
  <tr>
    <td>Physical count</td>
    <td>{{ ha.count.physical.cpu }}</td>
    <td>{{ ha.count.physical.ram }}</td>
    <td>{{ ha.count.physical.disk }}</td>
  </tr>
  <tr>
    <td>Maximum allocation</td>
    <td>{{ ha.count.max.cpu }}</td>
    <td>{{ ha.count.max.ram }}</td>
    <td>{{ ha.count.max.disk }}</td>
  </tr>
  <tr>
    <td>Allocated</td>
    <td>{{ ha.count.allocated.cpu }}</td>
    <td>{{ ha.count.allocated.ram }}</td>
    <td>{{ ha.count.allocated.disk }}</td>
  </tr>
  <tr>
    <td>Remaining</td>
    <td>{{ ha.count.remaining.cpu }}</td>
    <td>{{ ha.count.remaining.ram }}</td>
    <td>{{ ha.count.remaining.disk }}</td>
  </tr>
</tbody>
</table>
{% if ha.hypervisors %}
<ul class="hypervisors">{% for h in ha.hypervisors %}
<li style="background-color:{{ h.color }}" class="{{h.cpu_overcommit}} {{h.mem_overcommit}} {{h.disk_overcommit}}">
    <h1 class="{{ h.status }} {{ h.state }}">{{ h.short_name }}</h1>
    <span class="instancecount">{{ h.instances|length }}</span>
    <div>{% comment %}nesting div.hypervisor prevents clicking on it from closing it{% endcomment %}
    <div class="hypervisor">
        <h1 class="hostname searchtext">{{ h.host }}</h1>
        <dl>
            <dt class="cpu">CPU:</dt>
            <dd>
                <div class="resuse {{h.cpu_overcommit}}">
                    <span class="resused" style="width:{{ h.cpuu|floatformat:2 }}%"></span>
                    {% for i in h.instances %}
                        <span class="resused {{ i.id }}" style="width:{{ i.cpuu|floatformat:2 }}%"></span>
                    {% endfor %}
                </div>
                <div class="rescount">{{ h.cpu_usage }}</div>
            </dd>

            <dt class="memory">Memory:</dt>
            <dd>
                <div class="resuse {{h.mem_overcommit}}">
                    <span class="resused" style="width:{{ h.memu|floatformat:2 }}%"></span>
                    {% for i in h.instances %}
                        <span class="resused {{ i.id }}" style="width:{{ i.memu|floatformat:2 }}%"></span>
                    {% endfor %}
                </div>
                <div class="rescount">{{ h.mem_usage }}</div>
            </dd>

            <dt class="disk">Disk:</dt>
            <dd>
                <div class="resuse {{h.disk_overcommit}}">
                    <span class="resused" style="width:{{ h.disku|floatformat:2 }}%"></span>
                    {% for i in h.instances %}
                        <span class="resused {{ i.id }}" style="width:{{ i.disku|floatformat:2 }}%"></span>
                    {% endfor %}
                </div>
                <div class="rescount">{{ h.disk_usage }}</div>
            </dd>

            <dt class="state">State:</dt>
            <dd>{{ h.state }}/{{ h.status }}</dd>

            {% if h.instances %}
                <dt>Instances:</dt>
                <dd class="instances">
                    <ul>{% for i in h.instances %}
                    <li>
                        {% if i.status_symbol %}
                            <abbr title="{{i.status}}" class="status-{{i.status}}">{{i.status_symbol|safe}}</abbr>
                        {% endif %}
                        <span class="uuid searchtext">{{ i.id }}</span>
                        <span class="status searchtext">{{ i.status}}</span>
                        <span class="name searchtext">{{ i.name }}</span>
                        <span class="flavor searchtext">{{ i.flavor_name }}</span>
                        <dl class="instance">
                            <dt>Project</dt>
                            <dd class="searchtext">{{ i.project.name }}</dd>
                            <dt>Flavor</dt>
                            <dd class="searchtext">{{ i.flavor_description }}</dd>
                            <dt>Uptime</dt>
                            <dd>{{ i.created|timesince }}</dd>
                        </dl>
                    </li>
                {% endfor %}</ul></dd>
            {% endif %}
        </dl>
    </div>
    </div>
</li>{% endfor %}</ul>{% else %}<p>This host aggregate contains no hosts.</p>{% endif %}
<table class="table table-bordered">
<thead>
  <tr class="table_caption">{# see other <table> #}</tr>
  <tr>
    <th>Code</th>
    <th>Project</th>
    <th>VCPUs</th>
    <th>RAM</th>
    <th><abbr title="1 SU ~ 1 VCPU x {{ su_ram_per_vcpu }} RAM">SUs</abbr></th>
  </tr>
</thead>
<tbody>
{% for pu in ha.project_usage %}
  <tr>
    <td>{{ pu.project.name }}</td>
    <td>{{ pu.project.description }}</td>
    <td>{{ pu.cpu }}</td>
    <td>{{ pu.ram }}</td>
    <td>{{ pu.su }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endfor %}
{% endspaceless %}
{% endblock %}

