{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Hypervisors" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Hypervisors") %}
{% endblock page_header %}

{% block css %}
    {% include "_stylesheets.html" %}
    <link href="{{ STATIC_URL }}admin_nci/css/hvlist.css" rel="stylesheet">
{% endblock %}

{% block main %}
<script>
(function($) {
    $(function() {
        var pinned = {};
        $('dl.server').hide();
        $('dd.servers li').hover(
            function(e) {
                $(this).find('dl.server').delay(100).show(150);
                var sel = 'span.resused.' + $(this).find('span.serverid').text();
                $(this).parents('div.hypervisor').find(sel).addClass('highlighted');
            },
            function(e) {
                $(this).find('dl.server').stop(true).hide(150);
                var sel = 'span.resused.' + $(this).find('span.serverid').text();
                $(this).parents('div.hypervisor').find(sel).removeClass('highlighted');
            }
        );
        $('#hypervisors > li').hover(
            function(e) {
                $(this).find('div').show();
            },
            function(e) {
                if(! ($(this).index() in pinned)) {
                    $(this).find('div.hypervisor').hide();
                }
            }
        );
        $('#hypervisors > li').mousemove(function(e) {
            if($(this).is('#hypervisors > li') && !($(this).index() in pinned)) {
                $(this).find('div').css('top', e.pageY+10).css('left', e.pageX+10);
            }
        });
        $('#hypervisors > li').click(function(e) {
            if($(e.target).is('#hypervisors > li') || $(e.target).parent('#hypervisors > li').length > 0) {
                var i = $(this).index();
                if(i in pinned) {
                    delete pinned[i];
                } else {
                    pinned[i] = true;
                }
            }
        });
        $('html').click(function(e) {
            if(! ($(e.target).is('ul#hypervisors') || $(e.target).parents('ul#hypervisors').length > 0)) {
                pinned = {};
                $('div.hypervisor').hide();
            }
        });
        $('#search input').on('search input', function(e) { // 'search' event is nonstandard, maybe use 'input'
            $('#hypervisors > li').removeClass('searched');
            if(this.value) {
                $('#hypervisors > li').filter(function(index) {
                    return $('.searchtext', this).text().toLowerCase().indexOf(e.target.value.toLowerCase()) != -1;
                }).addClass('searched');
            }
        });
    });
})(jQuery);
</script>
<dl id="summary">
<dt>Total hypervisors</dt>
<dd>{{ hypervisors|length }}</dd>
<dt>Used hypervisors</dt>
<dd>{{ used_count }}</dd>
<dt>Instances</dt>
<dd>{{ server_count }}</dd>
</dl>
<p id="search">Find <input type="search"></p>
<p style="clear:left;height:2em"><!-- hello i am hacky --></p>
{% spaceless %}
<ul id="hypervisors">{% for h in hypervisors %}
<li style="background-color:{{ h.color }}"{% if h.unow.vcpus > h.utot.vcpus %} class="oversubscribed"{% endif %}>
    <h1 class="{{ h.status }} {{ h.state }}">{{ h.short_name }}</h1>
    <span class="instancecount">{{ h.servers|length }}</span>
    <div>{% comment %}nesting div.hypervisor prevents clicking on it from closing it{% endcomment %}
    <div class="hypervisor">
        <h1 class="hostname searchtext">{{ h.host }}</h1>
        <dl>
            <dt class="cpu">CPU:</dt>
            <dd class="resuse">
                <span class="resused" style="width:{{ h.cpuu|floatformat:2 }}em"></span>
                {% for s in h.servers %}
                    <span class="resused {{ s.id }}" style="width:{{ s.cpuu|floatformat:2 }}em"></span>
                {% endfor %}
                <span class="resfree" style="width:{{ h.cpuf|floatformat:2 }}em"></span>{{ h.cpu_usage }}</dd>

            <dt class="memory">Memory:</dt>
            <dd>
                <span class="resused" style="width:{{ h.memu|floatformat:2 }}em"></span>
                {% for s in h.servers %}
                    <span class="resused {{ s.id }}" style="width:{{ s.memu|floatformat:2 }}em"></span>
                {% endfor %}
                <span class="resfree" style="width:{{ h.memf|floatformat:2 }}em"></span>{{ h.mem_usage }}</dd>

            <dt class="disk">Disk:</dt>
            <dd>
                <span class="resused" style="width:{{ h.disku|floatformat:2 }}em"></span>
                {% for s in h.servers %}
                    <span class="resused {{ s.id }}" style="width:{{ s.disku|floatformat:2 }}em"></span>
                {% endfor %}
                <span class="resfree" style="width:{{ h.diskf|floatformat:2 }}em"></span>{{ h.disk_usage }}</dd>

            <dt class="state">State:</dt>
            <dd>{{ h.state }}/{{ h.status }}</dd>

            {% if h.servers %}
                <dt>Instances:</dt>
                <dd class="servers">
                    <ul>{% for s in h.servers %}
                    <li>
                        {% if s.statussymbol %}
                            <abbr title="{{s.status}}" class="status-{{s.status}}">{{s.statussymbol|safe}}</abbr>
                        {% endif %}
                        <span class="serverid searchtext">{{ s.id }}</span>
                        <span class="status searchtext">{{ s.status}}</span>
                        <span class="flavor searchtext">{{ s.flavor_name }}</span>
                        <span class="servername searchtext">{{ s.name }}</span>
                        <dl class="server">
                            <dt>Project</dt>
                            <dd class="searchtext">{{ s.project.name }}</dd>
                            <dt>Flavor</dt>
                            <dd class="searchtext">{{ s.flavor_name }}</dd>
                            <dt>Uptime</dt>
                            <dd>{{ s.created|timesince }}</dd>
                        </dl>
                    </li>
                {% endfor %}</ul></dd>
            {% endif %}
        </dl>
    </div>
    </div>
</li>{% endfor %}</ul>
{% endspaceless %}
{% endblock %}

