{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_attrs %}enctype="multipart/form-data"{% endblock %}

{% block modal-body-right %}
<h4>{% trans "Warning" %}</h4>
<p>{% trans "These settings apply to all users in the project.  Please check with NCI Virtual Labs staff before making any changes." %}</p>
<p>{% trans "Changing the Hiera eyaml certificate/key pair will cause any data encrypted with the existing key pair to become unreadable." %}</p>
{% endblock %}

{% block modal-js %}
<script src="{{ STATIC_URL }}project_nci/js/vl_config.js" type="text/javascript" charset="utf-8"></script>

<script>
  (window.$ || window.addHorizonLoadEvent)(function() {
    horizon.nci_vl_config.init();
  });
</script>
{% endblock %}
